# java and scala
/target
/project/project
/project/target
/test/result
/classes

# vs code stuff
.vscode/
.bloop/
.metals/
project/metals.sbt

# intellij idea
.idea
.iml

# for personal trials / tests that shall be ignored but stay on your disk
ztest/
.bsp/

# OS specific
.DS_Store


bazel-bin
bazel-djinni-generator
bazel-out
bazel-testlogs
